*{
    margin: 0;
    padding: 0;
}

/* Variáveis CSS */
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-do-fundo: #00030C;
}

/* Utilizando as váriaveis CSS */

body{
    background-color: var(--cor-do-fundo);
    color: var(--branco-principal);
    
}